<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ac478">  <td>19/01/14 13:14:21</td>   <td>0</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:Test.Test1@2638011]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2123444693</td>   <td></td> </tr>
<tr bgcolor="8ac478">  <td>19/01/14 13:14:03</td>   <td>-18177</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:Test.Test1@2638011]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2123444693</td>   <td></td> </tr>
<tr bgcolor="a2c4ed">  <td>19/01/14 13:14:10</td>   <td>-11506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.logintest(java.lang.String, java.lang.String)[pri:0, instance:Test.Test1@2638011]">logintest</td> 
  <td>main@2123444693</td>   <td></td> </tr>
<tr bgcolor="a2c4ed">  <td>19/01/14 13:14:17</td>   <td>-4154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.logintest(java.lang.String, java.lang.String)[pri:0, instance:Test.Test1@2638011]">logintest</td> 
  <td>main@2123444693</td>   <td></td> </tr>
</table>
